.cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #999999;
    -fx-border-width: 1;
}
.obstacle {
    -fx-background-color: #999999;
}
.start {
    -fx-background-color:derive(#3b805c,0.9);
}
.end {
    -fx-background-color:derive(#ff0200,0.9);
}
.path {
    -fx-background-color: rgba(80, 98, 153, 1);
}
.open {
    -fx-background-color: rgba(255, 0, 34, 0.49);
    -fx-border-color: #999999;
    -fx-border-width: 1;
}
.closed {
    -fx-background-color: rgba(6, 255, 0, 0.53);
    -fx-border-color: #999999;
    -fx-border-width: 1;
}
.label-f {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}
.label-g {
    -fx-font-size: 12;
}
.label-h {
    -fx-font-size: 12;
}